@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800&display=swap');

*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Poppins';
}

/* navbar */
/*ini flex antara ul dengan div logo*/
nav .nav-bar{
    display: flex; 
    background-color: #795C32;
    padding: 10px 5px;
    color: white;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}


.logo{
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    padding-left: 2rem;
    margin-right: 5rem;
}

/* antar elemen menu */
nav ul.text-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3rem;
}

.container-kecil ul.icon-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
    margin-right: 1rem;
}



nav ul li a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size:large;
    transition: color 0.3s ease;
}

nav ul li a::before{
    content: "";
}

nav ul li:hover a{
    color: #B29200;
}


/* Menu ketika break point */

.nav-bar .container-kecil{
    display: flex;
    padding-right: 3rem;
    color: white;
   
}


.nav-bar .container-kecil .search-dropDown{
    font-size: 20px;
    align-items: center;
    gap: 2rem;
    display: none;
}
.container-kecil .hamburger-menu {
    display: flex;
    align-items: center;
    font-size: 22px ;
}
.container-kecil .hamburger-menu a {
    color: white; /* kalau memang mau putih */
    display: none;
    align-items: center;
    transition: color 0.3s ease;
}

.container-kecil .hamburger-menu a::before{
    content: "";
}

.container-kecil .hamburger-menu:hover a {
    color: #B29200;
}

 .search-dropDown{
    color: white;
    align-items: center;
    justify-items: center ;
    cursor: pointer;
    transition: color 0.3s ease;
    
} 

 .search-dropDown::before{
    content: "";
}

 .search-dropDown:hover{
    color: #B29200;
}

 
/* search become icon */
.search-icon,
.cancel-icon{
    position: absolute;
} 

.cancel-icon{
    opacity: 0;
    pointer-events: none;
} 





/* search-box */
nav .nav-bar .container-search form {
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;

}
form {
    display: flex;
    align-items: center;
    
}

/* search icon */
.icon-wrapper{
    padding-left:1rem;
    background-color: white;
    margin-left: 2rem;
    display: flex;
}   
form .uil.uil-search{
    align-self: center;
    justify-self: start;
    color: black;
    margin-right: 5px;
}


/* form search */
.search-box{
    height: 30px;
    width: 20rem;
    border: none;
    outline: none;
    flex: 1 1 auto;
  
}
/* button search */
.search-button{
    background-color: #B29200;
    height: 30px;
    width: 70px;
    color: white;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: small;
    letter-spacing: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-right: 2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}




.search-icon li a{
    color: white;
}


/* break point  */
@media (max-width: 1160px){
    .search-box{
        width: 15rem;
    }
    .search-button{
        margin-right: 2rem;
    }
}

@media (max-width: 1070px){
    .nav-bar .container-kecil{
        display: flex;
        margin-left: 7rem;
    }

    .nav-bar .container-kecil .search-dropDown{
        display: flex;
        align-items: center;
        gap: 3rem;
        padding-right: 3rem;
    }

    .container-search{
        display: none;
    }

    nav ul.text-menu{
        margin-right: 4rem;
        margin-left: -3rem
    }
   
}

@media (max-width: 860px){
    .nav-bar .container-kecil{
        margin-left: 3rem;
    }
}

@media (max-width: 780px){
    .container-kecil .hamburger-menu a{
        display: flex;
        margin-left: 1rem;
    }
    
    /* menyembunyikan navbar ke sebelah kiri */
    nav ul.text-menu{
       position: absolute;
       top: 100%;
       left: -100%;
       background-color: white;  
       width: 30rem;
       height: 100vh;
       transition: 0.3s;
       display: block;
       opacity: 80%;
    }

    /* menambahkan kelas active ketika hamburger menu dipencet, untuk behaviour navbar */
    nav ul.text-menu.active{
        left: 0;
    }

    nav ul.text-menu a{
        display: block;
        margin: 1.5rem;
        color: black;
        padding-left:2.5rem;
    }
} 