@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800&display=swap');

*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Poppins';
}

/* navbar */
/*ini flex antara ul dengan div logo*/
nav{
    display: flex; 
    background-color: #795C32;
    padding: 10px 5px;
    color: white;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    padding-left: 3rem;
    margin-right: 5rem;
}

/* antar elemen menu */
nav ul.text-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 3rem;
}

nav ul.icon-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
    margin-right: 5rem;
}


nav ul.text-menu li a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size:large;
}
nav ul.icon-menu li a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    font-size:large;
}

/* search-box */
.container-search form {
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;

}
form {
    display: flex;
    align-items: center;
    
}

/* search icon */
form .a{
    align-self: center;
    padding: 10px 20px;
} 

/* form search */
.search-box{
    height: 30px;
    width: 20rem;
    border: none;
    outline: none;
  
}
/* button search */
.search-button{
    background-color: #B29200;
    height: 30px;
    width: 70px;
    color: white;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: small;
    letter-spacing: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-right: 2rem;

    
}
@media (max-width: 1110px){
    .search-box{
        width: 15rem;
        margin-left: 2rem;
    }
    .search-button{
        margin-right: 2rem;
    }
}